*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

figure > img {
  display: block;
}


/* palette colori */

:root {
  --blue:#0084FD;
  --light-blue:#B5DDFF;
  --purple:#9792E4;
  --yellow:#FDC15F;
  --dark-grey:#333333;
  --light:#FFFFFF;

}
/* layouts */

.container {
  max-width: 1164px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1050px;
  margin: 0 auto;
}

.container-small {
  max-width: 880px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/* component classes */

.button {
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 0 18px;
}

.button-blue {
  background-color: var(--blue);
  color: white;
  margin-top: 30px;
  margin-left: 10px;
  padding-left: 40px;
  padding-right: 40px;

}

/* header */
.page-header {
  background-color: var(--blue);
  color: #FFFFFF;
  padding: 20px;
}

.navbar-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

/* hero  */
.hero .col-4 {
  padding-top: 30px;
  text-align: center;
}

/* card  */
.card {
  background-color: var(--light-blue);
  height: 100%;
  border-radius: 20px;
}

.fa-apple {
  color: white;
  margin-right: 7px;
}

.no-padding {
  padding: 0;
}

.icon-blue {
  color: var(--blue);
  font-size: 80px;
  padding-top: 30px;
}

.title-card-blue {
  color: var(--blue);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

*[class^='col-'] { 
  padding-right: 30px;
  padding-top: 30px;
}

/* main section purple */
.section-purple {
  background-color: var(--purple);
  color: white;
}

.font-black {
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.bg-card-white {
  background-color: var(--light);
}

.fa-arrow-down {
  color: black;
  background-color: #9792E4;
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  text-align: center;
}

/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small  {
  border: 1px solid var(--yellow);
  padding: 10px;
}

.debug .row {
  border: 1px solid var(--purple);
  padding: 10px;
}

.debug [class^="col"] {
  border: 1px solid orange;
  padding: 10px;
}

.hamburger {
  color: #FFFFFF;
  display: none;
}

/* Responsive */

@media (max-width:770px) {
  .container {
      width: 100%;
  }

  .navbar-list {
      display: none;
  }

  .hamburger {
      display: block;
  }
}