*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

figure > img {
  display: block;
}


/* palette colori */

:root {
  --blue:#0084FD;
  --light-blue:#B5DDFF;
  --purple:#9792E4;
  --yellow:#FDC15F;
  --dark-grey:#333333;
  --light:#FFFFFF;

}
/* layouts */

.container {
  max-width: 1164px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1050px;
  margin: 0 auto;
}

.container-small {
  max-width: 880px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

.col-9{
  flex-basis: calc((100% / 12) * 9);
}

.col-3{
  flex-basis: calc((100% / 12) * 3);
}

/* utility classes */

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/* component classes */

.button {
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 0 18px;
}

.button-blue {
  background-color: var(--blue);
  color: white;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;

}

.button-purple{
  background-color: var(--purple);
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  padding: 0 40px 0 40px;
  color: white;
}

/* navbar */
.page-header {
  background-color: var(--blue);
  color: #FFFFFF;
  padding: 20px;
}

.navbar-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

.hamburger {
  color: #FFFFFF;
  display: none;
}

/* hero  */
.hero .col-4 {
  padding-top: 30px;
  text-align: center;
}

/* card  */
.card {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  padding-left: 20px;
}

.bg-blue{
  background-color: var(--light-blue);
}
.phone{
  width: 250px;
}

.fa-apple {
  color: white;
  margin-right: 7px;
}

.no-padding {
  padding: 0;
}

.icon-blue {
  color: var(--blue);
  font-size: 80px;
  padding-top: 30px;
}

.title-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: black;
  text-align: center;
}

.blue-color {
  color: var(--blue);
}

*[class^='col-'] { 
  padding-right: 30px;
  padding-top: 30px;
}

/* main section purple */
.section-purple {
  background-color: var(--purple);
  color: white;
  margin-top: 90px;
  padding-bottom: 120px;
}

.font-card {
  color: black;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.font-white{
  color: white;
  padding-bottom: 30px;
  padding-top:50px ;
}

.bg-card-white {
  background-color: var(--light);
  margin-top: 100px;
  padding-left: 20px;
}

q{
  display: block;
}

.quote-card{
  padding-left: 30px;
  color: black;
  text-align: center;
  padding-top: 20px;
}

.fa-arrow-down {
  color: black;
  background-color: #9792E4;
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  text-align: center;
  display: block;
  padding-top: 10px;
  margin-left: 170px;
  margin-top: 20px;
}

/* Testimonial section  */
.title-purple{
  color: var(--purple);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
}

.testimonials{
  padding-top: 40px;
  text-align: center;
}

.bg-purple{
  background-color: var(--purple);
  padding-bottom: 20px;
  color: white;
}

.name{
  text-align: start;
}

.img-testimonial{
  width: 213px;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

/* section number-card  */
.title-white{
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.color-font-purple{
  color: var(--purple);
  padding-bottom: 10px;
  padding-left: ;
}

.number{
  font-size: 40px;
  font-weight: 700;
}

.card-white{
  padding-bottom: 10px;
}

/* sectio about us */

.title-about-us{
  color: var(--purple);
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-top{
  padding-top: 40px;
}

.p-lorem{
  line-height: 30px;
}

.img-padding{
  margin-top: 20px;
  margin-bottom: 10px;
}

.postion-relative{
  position: relative;
}

.quote-purple{
  position: absolute;
  top: 40px;
  right : 60px;
  font-size: 80px;
  color: var(--purple);
}

.fa-linkedin{
  padding-right: 5px;
}


/* section get started  */
.text-center{
  text-align: center;
  padding-top: 30PX;
}

.title-orange{
  color: var(--yellow);
  font-size: 60px;
  padding-bottom: 30px;
}

.big-button{
  background-color: white;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  padding: 0 60px 0 60px;
  color: var(--purple);
  margin-top: 20px;
  margin-bottom: 20px;
}
/* footer */

.bg-black{
  background-color: var(--dark-grey);
  color: white;
}

.p-footer{
  padding-bottom: 60px;
}

.link-footer{
  text-decoration: underline;
  color: var(--purple);
  padding-bottom: 60px;
}



/* Responsive */

@media (max-width:768px) {
  .container {
    width: 100%;
  }

  .navbar-list {
    display: none;
  }

  .hamburger {
    display: block;
  }

/* header  */
  .title-card {
    padding-right: 0;
    padding-left: 0;
  }
/* main  section main testimonials */

  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-purple {
    padding-left: 30px;
    padding-right: 30px;
  }

  .bg-card-white {
    margin-top: 0;
    padding-bottom: 20px;
  }

  .fa-arrow-down {
    margin-left: 300px;
  }

/* benefits section purple */

  .number{
    font-size: 60px;
    padding-top: 20px;
  }

  .button-purple{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col-md {
    flex-basis: 100%;
  }

  .title-md {
    font-size: 50px;
  }

  .font-md {
    font-size: 15px;
  }

  .img-md {
    width: 570px;
    padding-top: 80px;
  }

  .col-nopadding-md {
    padding-right: 0 ;
  }

  /* card section purple  */

  .col-6-md{
    flex-basis: calc((100% / 12) * 6);
  }

  .name{
    padding-left: 40px;
  }    

  /* sectio about us  */

  .title-about-us{
    font-size: 50px;
  }

  .p-lorem{
    padding-right: 50px;
  }

  .container-small{
    padding-left: 30px;
    padding-bottom: 50px;
  }

  .quote-purple{
    right: 26px;
  }
  
}


@media (max-width: 576px){
  *[class^='col-']{
    flex-basis: 100%;
  }
  
  .name{
    text-align: center;
  }

  .title-purple{
    padding-left: 100px;
     padding-right: 150px;
  }
   
  .description-section{
    padding-left: 20px;
  } 

  .img-testimonial{
    margin-left: 150px;
  }

  .font-white{
    padding-top: 0;
  }
} 

